name: Upload CustomizableMenuData.json to S3

on:
  push:
    paths:
      - "CustomizableMenuData.json"
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    env:
      # R2 凭证（Secrets 里配置）
      AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1

      R2_BUCKET_NAME: ${{ vars.R2_BUCKET_NAME }}
      R2_ENDPOINT: https://b28dccb288bc2c16028f4d11ede9a4de.r2.cloudflarestorage.com

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload file to R2
        run: |
          aws s3 cp \
            CustomizableMenuData.json \
            s3://$R2_BUCKET_NAME/CustomizableMenuData.json \
            --endpoint-url "$R2_ENDPOINT"
